*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    background-color: #0b1220;
    font-family: Arial, sans-serif;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* MAIN CONTAINER */

.container{
    width: 400px;

    background-color: #111827;

    padding: 30px;

    border-radius: 15px;

    text-align: center;
}

/* LOGO */

.logo{
    font-size: 40px;

    margin-bottom: 10px;

    color: #60a5fa;
}

/* SUBTITLE */

.subtitle{
    color: #9ca3af;

    margin-bottom: 30px;
}

/* TEXTAREA */

textarea{
    width: 100%;

    height: 150px;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background-color: #1f2937;

    color: white;

    resize: none;

    outline: none;

    font-size: 15px;
}

/* BUTTON */

button{
    width: 100%;

    height: 50px;

    margin-top: 20px;

    border: none;

    border-radius: 10px;

    background-color: #2563eb;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

/* BUTTON HOVER */

button:hover{
    background-color: #3b82f6;
}